<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <% for( let i = 0; i < cart.length; i++ ) { %>
        <div id="item01"><img src="<%= cart.image %>" alt=""></div>
        <div id="item02"><p>Title: <%= cart.title %></p></div>
        <div id="item03"><p>Price: <%= cart.price %></p></div>
      <% } %>
</body>
</html>