<link rel="stylesheet" href="css/navbar.css">
<table align="center" class="navbar">
    <tr>
        <th><a href="/">Home</a></th>
        <th><a href="/manga">Manga</a></th>
        <th><a href="/marvel">Marvel</a></th>
        <th><a href="/dc">DC</a></th>
    </tr>
</table>

