<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/loginregister.css">
</head>
<body>

    <h1>REGISTER</h1>
    <table align="center">
        <form action="/register" method="POST" onsubmit="return validatePassword()">
            <tr>
                <td>
                    FirstName
                </td>
                <td>    
                    <input type="text" name="firstName" id="firstName" required>
                </td>
            </tr>

            <tr>
                <td>
                    LastName
                </td>
                <td>    
                    <input type="text" name="lastName" id="lastName" required>
                </td>
            </tr>

            <tr>
                <td>
                    Email  
                </td>
                <td>    
                    <input type="email" name="email" id="email" required> 
                </td>
            </tr>

            <tr>
                <td>
                    Password
                </td>
                <td>    
                    <input type="password" name="password" id="password" required>
                </td>
            </tr>
            <tr>
                <td>
                    confirmPassword
                </td>
                <td>    
                    <input type="password" name="confirmPassword" id="confirmPassword" required>                    
                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
                <td>
                    <button type="submit">NEXT</button>
                </td>
            </tr>
        </form>
    </table>
    <script src="js/validatePassword.js"></script>
 


</body>
</html>