body{
    background-color: rgb(122, 127, 131);
}
.container {
    position: absolute; right:300px; top:10px;
    width: 50px;
    height: 50px;
  }
  
  .number {
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  
h1{
    position: absolute; right:10px; bottom:15px;
}
.login{
    position: absolute; left:10px; bottom:15px;
}
.img2{
    width: 200px;
    height: 200px;
}
img{
    width: 300px;
    height:300px;
    padding: 5px 5px 5px ;
    background-color: white;
}

img:hover{
    transform : scale(1.1);
    filter: brightness(70%);
}

.login tr  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(70, 70, 64);
}
.login tr a {
display: block;
color: rgb(255, 255, 255);
padding: 14px 90px;
text-decoration: none;
 }

.login tr a:hover {
    background-color: rgb(110, 79, 79);
}
