.navbar tr  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(70, 70, 64);
}


.navbar tr a {
display: block;
color: rgb(255, 255, 255);
padding: 14px 90px;
text-decoration: none;
 }

.navbar tr a:hover {
    background-color: rgb(110, 79, 79);
}
